.custom-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  position: relative;
  z-index: 1;

  padding-top: 0;
  background: var(--color-black);
}

.custom-footer-links {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: flex-start;

  padding: 0 2rem;
  margin-top: 5rem;
}


.custom-footer-links-logo {
  flex: 1;
  margin: 1rem;
  text-align: center;
}

.custom-footer-links-logo img:first-child {
  margin-bottom: 0.75rem;
  width: 209px;
}

.custom-footer-links-icons {
  margin-top: 0.5rem;
}

.custom-footer-links-icons svg {
  color: var(--color-light);
  font-size: 24px;
  margin: 0.5rem;
  cursor: pointer;
}

.custom-footer-links-icons svg:hover {
  color: var(--color-gold);
}

.footer-cr {
  margin-top: 3rem;
}

.custom-footer-overlaying {
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.custom-footer-overlaying-black {
  background: var(--color-black);
  height: 25%;
}

.custom-footer-overlaying-img {
  height: 75%;
}


@media screen and (max-width: 1150px) {
  .custom-footer-links {
    padding: 0;
    align-items: center;
    flex-direction: column;
  }

  .custom-footer-links-logo{
    margin: 2rem 0;
    width: 100%;
  }
}

/* @media screen and (max-width: 650px) {
  .custom-footer {
    padding: 0 0 2rem 0;
  }
}

@media screen and (max-width: 350px) {
  .custom-footer-links-logo img:first-child {
    width: 80%;
  }
} */
