
.custom-int-h1 {
    font-family: var(--font1);
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    color: var(--color-gold);
    line-height: 110px;
    letter-spacing: 0.4em;
    text-align:center;
  }


.saved-description{
  color:rgb(191, 161, 161);
  text-align: center;
  letter-spacing: 0.05rem;
}

.bin{
  text-align: right;
  color: rgb(223, 59, 59);
}